
<div id="header">
	<nav>
		<li class="logo"><img src="images/mjollnircoin-logo-text.png" alt="mjollnircoin"/></li>
		<li><a href="index.html">Home</a></li>
		<li><a href="about.html">About</a></li>
		<li><a href="ipco.html">IPCO</a></li>
		<li><a href="mining.html">Mining</a></li>
		<li><a href="vault.html">Bounties</a></li>
		<li><a href="exchanges.html">Exchange</a></li>
		<li><a href="wallet.html">Download</a></li>
		<li><a href="social.html">Social</a></li>
		<li><a href="blockchainexplorer.html">Block Chain Explorer</a></li>
		
	</nav>
</div>
<div style="height:100px"></div>
